{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<!-- Search window-->

<div class="container" role="main">
    <h1>About the Platform</h1>
    <p>On this page, you will find more information about the platform.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum metus vel tortor ultrices pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a euismod purus. Sed vitae molestie turpis, sed vestibulum enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam mollis scelerisque nibh.</p>

    <p>Etiam luctus vehicula sodales. Nam eget sem sit amet tortor dapibus lobortis id vitae arcu. Aenean ipsum risus, imperdiet quis lobortis nec, semper sed lorem. Suspendisse at elit interdum, euismod massa quis, pretium nibh. Maecenas laoreet nulla vel magna ultrices sollicitudin. Duis consequat, sem ultrices hendrerit condimentum, elit ipsum accumsan.</p>

    <p>Proin eget viverra massa. Phasellus rutrum tristique sapien, et ultrices arcu hendrerit sed. Donec ultrices massa non risus ultricies, a tincidunt mi ornare. Vivamus scelerisque lectus sed maximus sollicitudin. Nullam interdum vestibulum lorem, eget egestas urna efficitur vel. Nulla luctus lectus sit amet nibh finibus fringilla. Nam quis aliquam dolor.</p>


</div>

<div class="vertical-space"></div>

{% endblock content %}